<link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/zilla-slab/style.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/magdelin/style.css' | relative_url }}">
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
<link rel="icon" type="image/png" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}" sizes="16x16">
<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
<meta name="theme-color" content="#1e3f3e">
<script defer src="{{ '/assets/javascript/navigation-accessibility.js' | relative_url }}"></script>
