<ol>
{% assign pub_list = site.data.citations | sort: "Year" | reverse %}
{% for citation in pub_list %}
{% if citation.Publication contains "http" %}
  <li>
    {% assign url = citation.Title | cgi_escape | prepend: "https://scholar.google.com/scholar?q=" %}
    {% assign size = citation.Authors | size | minus: 2 %}
    {% assign authors = citation.Authors | slice: 0, size | split: ";" | array_to_sentence_string %}
    {{ authors }} ({{citation.Year}}) <a href="{{ citation.Publication }}">"{{citation.Title}}"</a> <i>The Arctic Institute</i>.
  </li>
  {% endif %}
{% endfor %}
</ol>
