---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

# DRC Colors
$cmu-drc-orange: #df5127;
$cmu-drc-gold: #ea8534;
$cmu-drc-teal: #4d8687;
$cmu-drc-blue: #57b7ba;
$cmu-drc-forest: #1e3f3e;

$serif      : Magdelin Regular, Georgia, Times, serif;
$sans-serif : Zilla Slab Regular, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$global-font-family: $sans-serif !default;
$header-font-family: $serif !default;
$caption-font-family: $serif !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.site-title {
  font-family: $serif
  text-transform: uppercase;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
